.cartContainer {
  margin-bottom: 20px;
}

.cartContainer > div {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  border-bottom: 1px solid white;
}

